body {
    font-family: Noto Sans;
    background-color: #f5f5f5;
    
}

 .menu {
    position: absolute;  
}

.menu-account {
    max-width: 1024px;
    margin: 0 auto;
    height: 900px;
    display: flex;
    border-radius: 10px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    
    
   
}


.picture {
    display: flex;
    width: 450px;
    
    position: relative;
    
}


.menu-registration {
    display: flex;
    width: 554px; 
    background-color: white; 
    padding: 30px 30px 30px 30px;
    position: relative; 
  }

  .name-lastname {
    display: flex;
   
    gap: 20px;
  }
  .contact-phone {
    display: flex;
    
    gap: 20px;
    
  }


.registration {
   position: relative;
 }



p1 {
    color: #0284c7;
    font-size: 24px;
    font-weight: 800px;
    margin-bottom: 20px;
    
}

.input  {
    height: 35px;
    border-radius: 5px;
    border-color: #f5f5f5;
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: 4px;
 
} 


select {
    height: 38px;
    width: 170px;
    border-radius: 5px;
    
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: 4px
}

select:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid  #0284c7;
}
option:focus {
    background-color: #0284c7;
}

.input:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid #0284c7;  
}

label {
    
    color: #404040;
    font-weight: 500;
}




.dash {
   color:#e5e5e5;
   margin-bottom: 30px;
}


.delivery-address {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

p2 {
        
        font-size: 20px;
        font-weight: 700px;
        margin-bottom: 20px;
        margin-top: 20px;
}


p3 {
    font-size: 20px;
}

p4 {
    color: #737373;
    display: flex;
    margin-bottom: 30px;
    
}

.notifications {
    display: flex;
    flex-direction: column; 
}

.email {
    
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
}



input[type="checkbox"] {
    border-color: #f5f5f5;;
    height: 18px;
    width: 18px;
    border:  solid; 
    float: right;
    margin-right: 15px;
}
.sms {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.push {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


button {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    background-color: #0ea5e9;
    border-color: #0ea5e9;
    border-width: 1px;
    color: white;
    
}

button:hover {
    background-color: #0284c7;
}